body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f2f2f2;
}

form {
  margin-bottom: 20px;
}

input, select {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 300px;
}

button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.livro {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.btn-excluir {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}

